@page "/fetchdata"
@using BlazorApp.Data
@inject WeatherForecastService ForecastService

<PageTitle>Laptop</PageTitle>

<h1>Laptop</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (laptops == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Brand</th>
                <th>GPU</th>
                <th>CPU</th>
                <th>RAM</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var laptop in laptops)
            {
                <tr>
                    <td>@laptop.Id</td>
                    <td>@laptop.Name</td>
                    <td>@laptop.Brand</td>
                    <td>@laptop.Gpu</td>
                    <td>@laptop.Cpu</td>
                    <td>@laptop.Memory</td>
                    <td>@laptop.Price</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Laptop>? laptops = new LaptopService().ReadLaptops();
}
